.sidebar {
    border-right: 1px solid #eee;
    background-color: #f7f7f7;
    overflow-x: hidden;
    overflow-y: auto;
    position: fixed;
    display: block;
    padding: 20px;
    z-index: 1000;
    top: 0px;
    bottom: 0;
    left: 0;
}
.sidebar .btn {
    margin: 10px 10px 0px 0px;
}
.sidebar .profile {
    border-bottom: 2px dashed #ddd;
}
.sidebar .profile h2 {
    margin-bottom: 20px;
}
.sidebar .profile img {
    height: 140px;
    width: 140px;
}
.main-container {
    /*border: 1px solid red;*/
}
.navbar-clear {
    border-bottom: 1px solid #ddd;
    background-color: #fff;
    padding: 10px;
}
.post-container {
    border: 1px solid #ddd;
    margin-bottom: 10px;
    border-radius: 2px;
    display: none;
    padding: 5px;
}
.post-container .form-control {
    margin-bottom: 10px;
    margin-top: 20px;
}
.post-card {
    border: 1px solid #ddd;
    border-radius: 2px;
    padding: 20px;
    margin: 20px;
}
.post-card #date {
    color: #eee;
}
.card-img {
    height: 50px;
    width: 50px;
}
.post-card #title {
    margin-left: 10px;
}
.post-card #content {
    word-wrap: break-word;
}
#search-container {
    background-color: #fff;
    padding: 10px;
    display: none;
}