.btn-success, .btn-blue {
  border: none;
}

.btn-success {
  background-color: #15CA6E;
}

/*.btn-default {
  background-color: #38a3dc;
  color: #fff;
}*/

.navbar {
  margin-bottom: 0px;
  margin-top: 0px;
}

.navbar-clear {
  border-bottom: none;
  background-color: #fff;
}


.logo h1 {
  margin-left: 10px;
  font-size: 48px;
  padding: 2px;
}

.left-panel {
  /*border: 1px solid purple;*/
  padding: 10px
}

.left-panel .search, .btn {
  margin-top: 10px;
}

.search {
  border: 1px solid #eee;
}

.left-panel .btn {
  margin-right: 10px;
}

.jumbotron {
  background-image: url('https://camo.githubusercontent.com/f28b5bc7822f1b7bb28a96d8d09e7d79169248fc/687474703a2f2f692e696d6775722e636f6d2f4a65567164514d2e706e67');
  background-position: center center;
  background-repeat: no-repeat;
  margin-bottom: 0px;
  padding: 150px;
}

.main-container {
  background-color: #38a3dc;
}

.title {
  margin-top: 20px;
  font-size: 58px;
  color: #fff;
}

.tab {
  margin: 10px 0px 50px 0px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 2px;
  padding: 20px;
}

.content {
  font-size: 22px;
}

.content p, .content h2 {
  border-bottom: 1px solid #ddd;
  margin-bottom: 10px;
  font-size: 30px;
  padding: 10px;
}

.mailbox {
  margin: 67px 0px 20px 0px;
  padding: 10px;
}

.mailbox input {
  margin: 20px 0px 20px 0px;
}
